/* General Styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
.body-bg {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Box Sizing */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
   }

.container-1 {
    justify-self: flex-start;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: auto;
    height: auto;
    max-width: 100px; 
    margin-right: 20px;
}

.company-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

.company-name h1 {
    margin: 0;
    font-weight: bolder;
    letter-spacing: 3px;
    color: blue;
    font-size: 1.5vw; 
}

.navbar-nav {
    font-weight: bold;
}


.cont-1 {
    position: relative; /* Important for the absolute positioning of the pseudo-element */
    width: 100%;
    background-image: url('display-picture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.cont-1::before {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: ""; /* Essential for the pseudo-element to show up */
    position: absolute; /* Position it over its parent */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black for overlay effect */
    z-index: 1; /* Put it above the background image but below any content inside cont-1 */
}

.cont-1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: arial;
    font-weight: bolder;
    color: white;
    position: relative;
    z-index: 2;
}


.row {
    display: flex;
    justify-content: center; /* horizontal alignment */
    align-items: center;     /* vertical alignment */
}

.part-0 {
    padding: 5px 5vw 0  ;
    position: absolute;
    z-index: 3; /* Higher z-index than .part-1 */
    border-top: 5px solid blue;
    width: 100%; /* You can adjust this as necessary */
    background-color: rgba(255, 255, 255, 0.95); /* This gives a bit of transparency. Adjust to your needs */
}

.part-0 .nav-item:hover {
    background-color: #f8f9fa; /* This is Bootstrap's light gray. Change as necessary. */
}

.part-0 .nav-link:hover {
    background-color: transparent; /* Ensures that the link itself doesn't get a background color, making the effect smooth */
    text-decoration: none; /* Removes the underline */
}

.part-1 {
    position: relative;
    z-index: 2;
    /* Other styles remain unchanged */
}

.part-1 {
    position: relative;
    z-index: 2;
    }

.part-2 {
    display: flex;
    width: 100%; 
    flex-direction: column;
    align-items: center;
}

.part-2 img {
    border-radius: 40px;
    width: 90%;
    height: auto;
}

/* Hide the nav list on smaller screens and always show the toggle button */
@media (max-width: 768px) {
    .navbar-nav {
        display: none; /* hide the nav list */
    }
    .toggle-button {
        border-color: #fff;
        display: flex; /* show the hamburger menu */
    }
    .company-name h1 {
        font-size: 4vw;
    }
    .cont-2-3 {
        width: 100%;
    }

    .cont-3-1 {
        width: 100%;
    }
    .navbarNav .nav-item .nav-link {
        color: #fff;
    }
    .clearfix {
        flex-direction: column;
}

/* Center the nav list items horizontally on larger screens */
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Space out the individual nav items */
.navbar-nav .nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

/* Content Styles */
.content-wrapper {
    flex: 1;
    background-size: cover;
}
.clearfix {
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
    justify-content: flex-end;
}
.biz-imgs-1 {
    flex: 2;
    padding: 15px;
    max-width: 40%;
}

/* Sidebar */
#sidebar {
    flex-basis: 25%;
    background-color: blue;
    padding: 1rem;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-decoration: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
#sidebar a {
    color: #fff;
}

/* Footer */
footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Media Queries for responsive designs */
@media only screen and (max-width: 768px) {
   
}
